---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty pt-8 text-xl leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <svg
      width="200"
      height="350"
      viewBox="0 0 1549 350"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1_15049)">
        <path
          d="M717.242 324.331V0H762.202V305H938.097L937.105 0.330648L983.073 0V324.331C983.073 327.702 982.408 331.041 981.118 334.156C979.827 337.271 977.936 340.101 975.551 342.484C973.167 344.868 970.336 346.759 967.221 348.048C964.106 349.338 960.767 350.001 957.395 350H742.879C736.077 349.991 729.556 347.283 724.749 342.47C719.942 337.657 717.242 331.133 717.242 324.331Z"
          fill="white"></path>
        <path
          d="M1322.1 324.331V0H1367.06V305H1548.39V350H1347.77C1340.96 350 1334.43 347.296 1329.62 342.482C1324.8 337.668 1322.1 331.139 1322.1 324.331Z"
          fill="white"></path>
        <path
          d="M440.04 350H485.008V198H654.419V153H484.968V45H651.621C654.047 45.0001 656.424 44.3122 658.475 43.0161C660.526 41.72 662.168 39.8688 663.21 37.6774L681.121 0H465.669C458.869 0.0128143 452.352 2.72266 447.547 7.53497C442.742 12.3473 440.042 18.8691 440.04 25.6694V350Z"
          fill="white"></path>
        <path
          d="M1032.02 25.6694C1032.02 22.2984 1032.69 18.9605 1033.98 15.8461C1035.27 12.7318 1037.16 9.90199 1039.54 7.51837C1041.93 5.13475 1044.76 3.24397 1047.87 1.95396C1050.98 0.663956 1054.32 0 1057.69 0H1273.11L1255.19 37.6774C1254.15 39.8694 1252.51 41.7211 1250.46 43.0173C1248.41 44.3135 1246.03 45.001 1243.61 45H1076.98V153H1246.4V198H1076.98V305H1273.11V350H1057.69C1050.89 350 1044.36 347.296 1039.54 342.482C1034.73 337.668 1032.02 331.139 1032.02 324.331V25.6694Z"
          fill="white"></path>
        <path
          d="M23.2742 0C17.1029 -3.70471e-07 11.1842 2.45098 6.81969 6.814C2.45517 11.177 0.00213836 17.0948 0 23.2661V350H289.589C299.389 349.999 308.787 346.106 315.718 339.177L339.177 315.718C342.609 312.287 345.331 308.213 347.188 303.73C349.045 299.247 350 294.441 350 289.589V0H23.2742ZM56.7097 45H228.524L114.702 158.823C111.875 161.645 108.043 163.232 104.048 163.234C101.195 163.234 98.3998 162.423 95.9886 160.897C93.5773 159.371 91.6489 157.192 90.4274 154.613L46.3306 61.379C45.5039 59.6297 45.133 57.6997 45.2522 55.7685C45.3715 53.8373 45.9771 51.9676 47.0127 50.3333C48.0484 48.6989 49.4805 47.353 51.1758 46.4205C52.8712 45.4881 54.7748 44.9994 56.7097 45ZM45 305V194.25C45.0021 191.413 46.1306 188.693 48.1373 186.688C50.144 184.683 52.8648 183.556 55.7016 183.556H166.444L45 305ZM194.677 155.331C189.612 160.389 182.747 163.231 175.589 163.234H138.919L249.25 52.9113C251.756 50.4035 254.732 48.4141 258.007 47.0567C261.283 45.6993 264.793 45.0004 268.339 45H305L194.677 155.331Z"
          fill="#00F58C"></path>
      </g>
      <defs>
        <clipPath id="clip0_1_15049">
          <rect width="1548.39" height="350" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>

    <!-- Second -->
    <!--?xml version="1.0" encoding="UTF-8"?-->
    <svg
      width="250"
      height="350"
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1656 567"
    >
      <g>
        <path
          d="m703.42,157.72c-26.61,0-45.96,6.29-62.4,20.8l-29.03,25.15c-2.42,1.94-7.26,3.39-10.64.48-3.39-2.9-3.87-6.77-.97-10.64l15.48-23.22c2.42-3.39.49-7.74-3.87-7.74h-37.25c-4.35,0-7.74,3.39-7.74,7.74v226.4c0,4.35,3.39,7.74,7.74,7.74h38.7c4.35,0,7.74-3.39,7.74-7.74v-127.71c0-58.53,48.86-67.72,67.24-67.72,39.18,0,53.21,28.06,53.21,49.34v146.09c0,4.35,3.39,7.74,7.74,7.74h38.7c4.35,0,7.74-3.39,7.74-7.74v-150.93c0-54.18-35.32-88.04-92.4-88.04Z"
        ></path>
        <path
          d="m953.5,156.75c-74.98,0-122.87,45.96-122.87,108.36v34.35c0,65.79,47.89,110.78,122.87,110.78,66.27,0,112.71-34.35,117.55-80.79.49-4.84-2.9-8.22-7.74-8.22h-37.73c-3.39,0-6.29,1.94-7.26,5.32-4.84,15.48-27.57,38.7-64.82,38.7s-72.08-27.09-71.6-65.79l.49-43.05c.48-32.41,34.35-54.66,71.11-54.66,33.38,0,65.79,18.87,69.17,49.83h0c.28,3.58-2.18,6.81-5.71,7.49l-108.46,21.05c-4.35.97-7.74,4.84-7.74,9.67v.48c0,4.35,4.35,8.22,10.64,8.22h155.77c4.28,0,7.74-3.47,7.74-7.74v-30.47c0-57.56-49.83-103.52-121.42-103.52Z"
        ></path>
        <path
          d="m1223.42,156.75c-60.47,0-112.71,35.31-112.71,81.75,0,3.87,3.39,6.77,7.74,6.77h39.18c3.87,0,6.77-2.9,7.26-6.77,3.87-21.28,29.51-36.76,57.08-36.76,32.89,0,55.15,20.32,55.15,55.15v42.09c0,43.05-31.93,64.82-71.6,64.82-30.96,0-48.86-11.61-48.86-30.48,0-16.45,8.71-30.48,44.5-38.7l51.76-14.03c5.32-1.45,7.26-5.81,6.29-10.64-.48-3.87-4.83-5.81-8.71-5.81h-53.69c-45.47,0-91.43,29.02-91.43,71.59v6.77c0,43.54,41.12,66.27,88.04,66.27,29.99,0,55.63-11.61,71.59-25.15l23.71-20.32c3.87-3.39,7.74-3.39,11.12,0,2.9,2.9,1.93,7.26-.49,10.64l-14.51,22.74c-2.42,3.39-.49,7.74,3.87,7.74h34.83c4.35,0,7.74-3.39,7.74-7.74v-146.58c0-56.11-40.15-93.36-107.88-93.36Z"
        ></path>
        <path
          d="m1540.26,162.56h-54.18c-18.86,0-37.25,11.61-50.31,22.74l-21.28,18.38c-2.42,1.94-6.78,3.39-9.68.97-3.39-2.42-4.84-7.26-1.93-11.13l15.48-23.22c2.42-3.39.49-7.74-3.87-7.74h-36.28c-4.35,0-7.74,3.39-7.74,7.74v226.4c0,4.35,3.39,7.74,7.74,7.74h39.67c4.35,0,7.74-3.39,7.74-7.74v-116.1c0-49.83,20.32-72.08,64.34-72.08h50.31c4.35,0,7.74-3.39,7.74-7.74v-30.48c0-4.35-3.39-7.74-7.74-7.74Z"
        ></path>
      </g>
      <path
        d="m421.61,108c-13,0-25.07,6.74-31.88,17.82l-73.37,108.93c-2.39,3.59-1.42,8.43,2.17,10.82,2.91,1.94,6.76,1.7,9.41-.58l72.22-62.64c1.2-1.08,3.05-.97,4.13.23.49.55.75,1.26.75,1.99v196.12c0,1.62-1.31,2.92-2.93,2.92-.87,0-1.69-.38-2.24-1.05L181.56,121.24c-7.11-8.39-17.55-13.23-28.54-13.24h-7.63c-20.65,0-37.39,16.74-37.39,37.39v276.22c0,20.65,16.74,37.39,37.39,37.39,13,0,25.07-6.74,31.88-17.82l73.37-108.93c2.39-3.59,1.42-8.43-2.17-10.82-2.91-1.94-6.76-1.7-9.41.58l-72.22,62.64c-1.2,1.08-3.05.97-4.13-.23-.49-.55-.75-1.26-.74-1.99v-196.17c0-1.62,1.31-2.92,2.93-2.92.86,0,1.69.38,2.24,1.05l218.28,261.37c7.11,8.39,17.55,13.23,28.54,13.24h7.63c20.65.01,37.4-16.72,37.42-37.37V145.39c0-20.65-16.74-37.39-37.39-37.39Z"
      ></path>
    </svg>
    <!-- Third -->
    <svg
      width="143"
      height="39"
      viewBox="0 0 143 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.10374 4.30627L21.5919 38.9188H38.5916V0H29.5684V34.5313L17.0803 0H0V38.916H9.02322L9.10374 4.30347V4.30627Z"
        fill="white"></path>
      <path
        d="M125.842 0L117.302 34.5313L108.762 0H91.4399V38.916H100.463V4.30627L109.003 38.9188H125.439L133.98 4.30627V38.9188H143.003V0H125.842Z"
        fill="white"></path>
      <path
        d="M65.0949 19.3362L53.9783 0H43.5863L60.5861 29.7351V38.9972H69.6093V29.7351L86.6063 0H76.2143L65.0977 19.3362H65.0949Z"
        fill="white"></path>
    </svg>

    <!-- Fourth -->
    <svg
      version="1.0"
      width="350"
      height="350"
      id="katman_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 284.5 186"
      style="enable-background:new 0 0 284.5 186;"
      xml:space="preserve"
    >
      <style type="text/css">
        .st0 {
          fill: #ffe644;
        }
        .st1 {
          fill: #ec7463;
        }
        .st2 {
          fill: #009ecb;
        }
        .st3 {
          fill: #4d68ae;
        }
        .st4 {
          fill: #57a759;
        }
        .st5 {
          fill: #8e5298;
        }
        .st6 {
          fill: #253dca;
        }
      </style>
      <g id="LOGO" transform="translate(-9.258 -9.623)">
        <path id="Path_1" class="st0" d="M58.1,118.1V67l-22.3,37.7L58.1,118.1z"
        ></path>
        <path id="Path_2" class="st1" d="M58.1,67l22.3,37.7l-22.3,13.3V67z"
        ></path>
        <path id="Path_3" class="st2" d="M35.8,107.6l22.3,13.3v17.2"></path>
        <path id="Path_4" class="st3" d="M80.4,107.6l-22.3,13.3v17.2"></path>
        <path id="Path_5" class="st4" d="M58.1,91.4l-22.3,13.3l22.3,13.3V91.4z"
        ></path>
        <path id="Path_6" class="st5" d="M58.1,91.4l22.3,13.3l-22.3,13.3V91.4z"
        ></path>
        <g id="Group_1" transform="translate(68.897 23.809)">
          <path
            id="Path_7"
            class="st6"
            d="M26.6,69.4c0-1.3,0.3-2.6,0.9-3.8c0.6-1.1,1.4-2,2.5-2.6c1.1-0.6,2.4-0.9,3.6-0.9
       c1.2,0,2.5,0.3,3.6,0.9c1,0.6,1.9,1.5,2.4,2.6c0.6,1.2,0.9,2.5,0.9,3.8v1.1H30.3c0,0.8,0.4,1.6,1,2.1c0.7,0.6,1.5,0.8,2.4,0.8
       c0.7,0,1.3-0.1,1.9-0.5c0.7-0.4,1.4-0.9,1.9-1.6l2.3,2.4c-0.8,0.9-1.7,1.6-2.7,2.1c-1.1,0.5-2.2,0.7-3.4,0.7
       c-1.3,0-2.6-0.3-3.7-0.9c-1.1-0.6-1.9-1.5-2.5-2.5C26.8,72.1,26.6,70.8,26.6,69.4z M36.7,67.9c-0.1-0.7-0.4-1.4-1-1.9
       c-1.3-1-3-1-4.3,0c-0.6,0.5-0.9,1.2-1.1,1.9H36.7z"
          ></path>
          <path
            id="Path_8"
            class="st6"
            d="M52,65.9v5.5c0,0.4,0.1,0.7,0.3,1c0.3,0.2,0.7,0.3,1.1,0.3h3.1v3.6H53c-1.3,0.1-2.5-0.3-3.5-1.1
       c-0.9-0.8-1.3-1.9-1.2-3.1v-6.3h-3.4v-3.3h3.4v-3.5H52v3.5h5.4v3.3L52,65.9z"
          ></path>
          <path
            id="Path_9"
            class="st6"
            d="M62.4,57.4h3.7v6.4h0.1c1.7-1.8,4.5-2.2,6.6-0.9c0.8,0.5,1.4,1.2,1.8,2c0.4,1,0.7,2,0.6,3v8.3
       h-3.7v-7.8c0-0.8-0.2-1.5-0.7-2.1c-0.5-0.5-1.2-0.8-1.9-0.8c-0.8,0-1.5,0.2-2.1,0.8c-0.5,0.6-0.8,1.3-0.8,2.1v7.8h-3.7L62.4,57.4z
       "
          ></path>
          <path
            id="Path_10"
            class="st6"
            d="M79.3,69.4c0-1.3,0.3-2.6,0.9-3.8c0.6-1.1,1.4-2,2.5-2.6c1.1-0.6,2.4-0.9,3.6-0.9
       c1.2,0,2.5,0.3,3.6,0.9c1,0.6,1.9,1.5,2.4,2.6c0.6,1.2,0.9,2.5,0.9,3.8v1.1H83c0,0.8,0.4,1.6,1,2.1c0.7,0.6,1.5,0.8,2.4,0.8
       c0.7,0,1.3-0.1,1.9-0.5c0.7-0.4,1.4-0.9,1.9-1.6l2.3,2.4c-0.8,0.9-1.7,1.6-2.7,2.1c-1.1,0.5-2.2,0.8-3.4,0.7
       c-1.3,0-2.6-0.3-3.7-0.9c-1.1-0.6-1.9-1.5-2.5-2.5C79.6,72.1,79.3,70.8,79.3,69.4z M89.4,67.9c-0.1-0.7-0.4-1.4-1-1.9
       c-1.3-1-3-1-4.3,0c-0.6,0.5-0.9,1.2-1.1,1.9H89.4z"
          ></path>
          <path
            id="Path_11"
            class="st6"
            d="M98.5,62.6h3.5v1.3h0.1c1-1.1,2.5-1.7,4-1.7c1.1,0,2.2,0.3,3.1,1c0.9,0.7,1.5,1.7,1.8,2.9
       l-3.5,1.1c-0.3-1.1-1.3-1.8-2.5-1.7c-0.8-0.1-1.6,0.2-2.1,0.8c-0.5,0.6-0.8,1.4-0.7,2.2v7.7h-3.7L98.5,62.6z"
          ></path>
          <path
            id="Path_12"
            class="st6"
            d="M114.5,69.4c0-1.3,0.3-2.6,0.9-3.8c0.6-1.1,1.4-2,2.5-2.6c1.1-0.6,2.4-0.9,3.6-0.9
       c1.2,0,2.5,0.3,3.6,0.9c1,0.6,1.9,1.5,2.4,2.6c0.6,1.2,0.9,2.5,0.9,3.8v1.1h-10.2c0,0.8,0.4,1.6,1,2.1c0.7,0.6,1.5,0.8,2.4,0.8
       c0.7,0,1.3-0.1,1.9-0.5c0.7-0.4,1.4-0.9,1.9-1.6l2.3,2.4c-0.8,0.9-1.7,1.6-2.7,2.1c-1.1,0.5-2.2,0.8-3.4,0.7
       c-1.3,0-2.6-0.3-3.7-0.9c-1.1-0.6-1.9-1.5-2.5-2.5C114.7,72.1,114.4,70.8,114.5,69.4z M124.6,67.9c-0.1-0.7-0.4-1.4-1-1.9
       c-1.3-1-3-1-4.3,0c-0.6,0.5-0.9,1.2-1.1,1.9H124.6z"
          ></path>
          <path
            id="Path_13"
            class="st6"
            d="M132.8,71.6v-9h3.7v8.2c-0.2,1.2,0.6,2.3,1.8,2.5c0.2,0,0.4,0,0.6,0c0.7,0,1.3-0.2,1.8-0.7
       c0.5-0.5,0.7-1.2,0.7-1.8v-8.2h3.7v13.7h-3.5v-1.2h-0.1c-0.4,0.5-1,0.9-1.6,1.2c-2,0.8-4.2,0.5-5.8-0.9
       C133.2,74.3,132.7,73,132.8,71.6z"
          ></path>
          <path
            id="Path_14"
            class="st6"
            d="M149.2,62.6h3.3v1.2h0.1c0.3-0.4,0.7-0.8,1.1-1.1c0.5-0.3,1-0.4,1.5-0.4c1.1,0,2.1,0.6,2.6,1.5
       h0.1c0.6-1,1.7-1.6,2.8-1.5c0.9,0,1.8,0.4,2.4,1.1c0.6,0.8,1,1.8,0.9,2.8v10.1h-3.4v-9.5c0-0.3-0.1-0.7-0.3-0.9
       c-0.2-0.2-0.6-0.3-0.9-0.3c-0.3,0-0.6,0.1-0.9,0.4c-0.2,0.3-0.3,0.6-0.3,0.9v9.4H155v-9.5c0-0.3-0.1-0.6-0.3-0.9
       c-0.2-0.2-0.5-0.3-0.8-0.3c-0.3,0-0.7,0.1-0.9,0.3c-0.2,0.3-0.4,0.6-0.3,0.9v9.4h-3.4L149.2,62.6z"
          ></path>
          <path
            id="Path_15"
            class="st6"
            d="M30.7,94.7h-3.6v-3.3h3.6v-2c-0.1-1.1,0.4-2.1,1.2-2.9c0.9-0.7,2.1-1.1,3.3-1h4v3.3h-3.5
       c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.3,0.8v1.6H40v3.3h-5.5v8.9h-3.8L30.7,94.7z"
          ></path>
          <path
            id="Path_16"
            class="st6"
            d="M44.2,96.7c0-1.3,0.3-2.6,0.9-3.8c0.6-1.1,1.4-2,2.5-2.6c2.3-1.2,5-1.2,7.3,0
       c1,0.6,1.9,1.5,2.5,2.6c1.2,2.4,1.2,5.2,0,7.5c-0.6,1.1-1.4,2-2.5,2.6c-2.3,1.2-5,1.2-7.3,0c-1.1-0.6-1.9-1.5-2.5-2.6
       C44.4,99.3,44.1,98,44.2,96.7z M54.4,96.7c0.1-1-0.2-2-0.9-2.8c-0.6-0.7-1.5-1.1-2.4-1c-0.9,0-1.8,0.3-2.4,1
       c-0.6,0.8-0.9,1.8-0.9,2.8c-0.1,1,0.2,2,0.9,2.8c1.3,1.3,3.4,1.4,4.8,0.1c0,0,0.1-0.1,0.1-0.1C54.2,98.7,54.5,97.7,54.4,96.7z"
          ></path>
          <path
            id="Path_17"
            class="st6"
            d="M62.5,98.9v-9h3.7v8.2c-0.2,1.2,0.7,2.3,1.9,2.5c0.2,0,0.4,0,0.6,0c0.7,0,1.3-0.2,1.8-0.7
       c0.5-0.5,0.7-1.2,0.7-1.8v-8.2h3.7v13.7h-3.5v-1.2h-0.1c-0.4,0.5-1,0.9-1.6,1.2c-2.3,1.3-5.3,0.4-6.6-1.9
       C62.6,100.8,62.4,99.8,62.5,98.9L62.5,98.9z"
          ></path>
          <path
            id="Path_18"
            class="st6"
            d="M80,89.9h3.7v1.3h0.1c0.5-0.5,1.1-0.9,1.8-1.3c0.7-0.3,1.4-0.4,2.2-0.4c0.9,0,1.7,0.2,2.5,0.6
       c0.8,0.5,1.5,1.1,1.9,1.9c0.5,1,0.8,2.1,0.7,3.2v8.3h-3.7v-7.8c0-0.8-0.2-1.5-0.7-2.1c-0.5-0.6-1.2-0.8-1.9-0.8
       c-0.8,0-1.5,0.2-2.1,0.8c-0.5,0.6-0.8,1.3-0.8,2.1v7.8H80L80,89.9z"
          ></path>
          <path
            id="Path_19"
            class="st6"
            d="M96.6,96.7c0-1.3,0.3-2.6,0.8-3.7c0.5-1.1,1.3-2,2.2-2.6c1-0.6,2.1-0.9,3.3-0.9
       c1.3-0.1,2.6,0.4,3.6,1.2h0.1v-6h3.7v18.9h-3.4v-1.2h-0.1c-1,1.1-2.5,1.6-4,1.6c-1.1,0-2.3-0.3-3.2-0.9c-1-0.6-1.7-1.5-2.2-2.5
       C96.9,99.3,96.6,98,96.6,96.7z M106.6,97.6v-1.8c0-0.5-0.1-1-0.4-1.4c-0.3-0.5-0.7-0.8-1.2-1.1c-0.5-0.3-1.1-0.4-1.6-0.4
       c-0.9,0-1.7,0.4-2.3,1c-1.1,1.7-1.1,3.9,0,5.6c0.5,0.7,1.4,1.1,2.2,1.1c0.9,0,1.7-0.3,2.3-0.9C106.3,99.2,106.6,98.4,106.6,97.6
       L106.6,97.6z"
          ></path>
          <path
            id="Path_20"
            class="st6"
            d="M115.3,99.9c-0.1-1.1,0.4-2.2,1.3-3c1.3-0.9,2.8-1.4,4.4-1.6c0.8-0.1,1.5-0.3,2.2-0.6
       c0.3-0.2,0.6-0.5,0.6-0.9c0-0.4-0.2-0.8-0.6-1c-0.5-0.3-1-0.4-1.6-0.4c-0.7,0-1.4,0.2-1.9,0.7c-0.5,0.5-0.9,1.1-1,1.8l-3.4-0.8
       c0.2-0.9,0.6-1.8,1.2-2.5c0.6-0.7,1.4-1.3,2.3-1.7c0.9-0.4,2-0.6,3-0.6c1.5-0.1,3.1,0.4,4.2,1.5c1.1,1,1.6,2.5,1.6,3.9v8.7h-3.3
       V102h-0.1c-0.4,0.6-1,1.1-1.7,1.4c-0.8,0.3-1.6,0.5-2.4,0.5c-0.8,0-1.7-0.2-2.4-0.5c-0.7-0.3-1.3-0.8-1.7-1.4
       C115.5,101.3,115.3,100.6,115.3,99.9z M123.9,98.5v-1.6h-0.1c-0.2,0.3-0.5,0.5-0.8,0.6c-0.6,0.2-1.1,0.4-1.7,0.5
       c-0.7,0.1-1.4,0.3-2,0.7c-0.3,0.2-0.6,0.6-0.5,1c0,0.4,0.2,0.7,0.5,0.9c0.4,0.2,0.9,0.3,1.4,0.3c0.5,0,1.1-0.1,1.6-0.3
       c0.5-0.2,0.9-0.5,1.2-0.9C123.7,99.3,123.9,98.9,123.9,98.5L123.9,98.5z"
          ></path>
          <path
            id="Path_21"
            class="st6"
            d="M139.9,93.2v5.5c0,0.4,0.1,0.7,0.3,1c0.3,0.2,0.7,0.3,1.1,0.3h3.1v3.6h-3.5
       c-1.3,0.1-2.5-0.3-3.5-1.1c-0.9-0.8-1.3-1.9-1.2-3.1v-6.3h-3.4v-3.3h3.4v-3.5h3.7v3.5h5.4v3.3H139.9z"
          ></path>
          <path
            id="Path_22"
            class="st6"
            d="M163.3,100.2v3.4h-13.5v-3.4h4.9v-6.9h-4.6v-3.4h8.3v10.3H163.3z M154.7,84.1h3.8v3.6h-3.8V84.1
       z"
          ></path>
          <path
            id="Path_23"
            class="st6"
            d="M167.2,96.7c0-1.3,0.3-2.6,0.9-3.8c0.6-1.1,1.4-2,2.5-2.6c2.3-1.2,5-1.2,7.3,0
       c1,0.6,1.9,1.5,2.5,2.6c1.2,2.4,1.2,5.2,0,7.5c-0.6,1.1-1.4,2-2.5,2.6c-2.3,1.2-5,1.2-7.3,0c-1-0.6-1.9-1.5-2.5-2.6
       C167.5,99.3,167.2,98,167.2,96.7z M177.5,96.7c0.1-1-0.2-2-0.9-2.8c-0.6-0.7-1.5-1.1-2.4-1c-0.9,0-1.8,0.3-2.4,1
       c-0.6,0.8-0.9,1.8-0.9,2.8c-0.1,1,0.2,2,0.9,2.8c1.3,1.3,3.4,1.4,4.8,0.1c0,0,0.1-0.1,0.1-0.1C177.2,98.7,177.5,97.7,177.5,96.7z"
          ></path>
          <path
            id="Path_24"
            class="st6"
            d="M185.4,89.9h3.7v1.3h0.1c0.5-0.5,1.1-0.9,1.8-1.3c0.7-0.3,1.4-0.4,2.2-0.4
       c0.9,0,1.7,0.2,2.5,0.6c0.8,0.5,1.5,1.1,1.9,1.9c0.5,1,0.8,2.1,0.7,3.2v8.3h-3.7v-7.8c0-0.8-0.2-1.5-0.7-2.1
       c-0.5-0.6-1.2-0.8-1.9-0.8c-0.8,0-1.5,0.2-2.1,0.8c-0.5,0.6-0.8,1.3-0.8,2.1v7.8h-3.7L185.4,89.9z"
          ></path>
        </g>
      </g>
    </svg>
  </div>

  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- 5th -->
    <svg
      width="346"
      height="96"
      viewBox="0 0 646 96"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1064_606)">
        <path
          d="M108.53 75.6899L90.81 94.6899C90.4267 95.1026 89.9626 95.432 89.4464 95.6573C88.9303 95.8827 88.3732 95.9994 87.81 95.9999H3.81C3.40937 95.9997 3.01749 95.8827 2.68235 95.6631C2.34722 95.4436 2.08338 95.1311 1.92313 94.7639C1.76288 94.3967 1.71318 93.9908 1.78012 93.5958C1.84706 93.2008 2.02772 92.8338 2.3 92.5399L20 73.5399C20.3833 73.1273 20.8474 72.7979 21.3636 72.5725C21.8797 72.3472 22.4368 72.2305 23 72.2299H107C107.404 72.2216 107.802 72.333 108.143 72.5502C108.484 72.7674 108.754 73.0806 108.917 73.4504C109.081 73.8203 109.131 74.2303 109.062 74.6288C108.993 75.0273 108.808 75.3965 108.53 75.6899ZM90.81 37.4199C90.4253 37.0091 89.9608 36.6811 89.445 36.4558C88.9292 36.2306 88.3728 36.1129 87.81 36.11H3.81C3.40937 36.1102 3.01749 36.2272 2.68235 36.4468C2.34722 36.6663 2.08338 36.9788 1.92313 37.346C1.76288 37.7132 1.71318 38.1191 1.78012 38.5141C1.84706 38.9091 2.02772 39.2761 2.3 39.57L20 58.58C20.3847 58.9908 20.8492 59.3188 21.365 59.5441C21.8808 59.7693 22.4372 59.887 23 59.8899H107C107.4 59.8878 107.79 59.7693 108.124 59.5491C108.458 59.3288 108.72 59.0162 108.879 58.6494C109.038 58.2826 109.087 57.8774 109.019 57.4833C108.952 57.0892 108.772 56.7232 108.5 56.43L90.81 37.4199ZM3.81 23.7699H87.81C88.3732 23.7694 88.9303 23.6527 89.4464 23.4273C89.9626 23.202 90.4267 22.8726 90.81 22.4599L108.53 3.45995C108.808 3.16647 108.993 2.79726 109.062 2.39877C109.131 2.00028 109.081 1.59031 108.917 1.22045C108.754 0.850591 108.484 0.537368 108.143 0.320195C107.802 0.103021 107.404 -0.0084012 107 -5.10783e-05H23C22.4368 0.000541762 21.8797 0.117167 21.3636 0.342553C20.8474 0.567938 20.3833 0.897249 20 1.30995L2.3 20.3099C2.02772 20.6038 1.84706 20.9708 1.78012 21.3658C1.71318 21.7608 1.76288 22.1667 1.92313 22.5339C2.08338 22.9011 2.34722 23.2136 2.68235 23.4331C3.01749 23.6527 3.40937 23.7697 3.81 23.7699Z"
          fill="url(#paint0_linear_1064_606)"></path>
        <path
          d="M210.94 40.6002H166V25.8002H222.62V11.0002H165.85C163.91 10.9897 161.988 11.3613 160.192 12.0938C158.396 12.8264 156.761 13.9055 155.383 15.2696C154.004 16.6337 152.907 18.2561 152.155 20.044C151.403 21.832 151.01 23.7506 151 25.6902V40.6902C151.008 42.6315 151.398 44.5523 152.149 46.3425C152.9 48.1328 153.996 49.7575 155.375 51.1237C156.755 52.49 158.39 53.5709 160.187 54.3047C161.984 55.0385 163.909 55.4108 165.85 55.4002H210.85V70.2002H152.07V85.0002H210.94C212.88 85.0108 214.802 84.6391 216.598 83.9066C218.394 83.174 220.029 82.0949 221.407 80.7308C222.786 79.3667 223.883 77.7444 224.635 75.9564C225.387 74.1684 225.78 72.2498 225.79 70.3102V55.3102C225.782 53.3689 225.392 51.4482 224.641 49.6579C223.89 47.8676 222.794 46.2429 221.415 44.8767C220.035 43.5105 218.4 42.4296 216.603 41.6958C214.806 40.962 212.881 40.5897 210.94 40.6002Z"
          fill="white"></path>
        <path
          d="M298 11H252.89C250.947 10.9842 249.02 11.3519 247.219 12.0821C245.419 12.8123 243.78 13.8905 242.397 15.2552C241.013 16.6198 239.913 18.2439 239.159 20.0345C238.404 21.8251 238.01 23.747 238 25.69V70.31C238.01 72.253 238.404 74.1749 239.159 75.9655C239.913 77.7561 241.013 79.3802 242.397 80.7448C243.78 82.1095 245.419 83.1877 247.219 83.9179C249.02 84.6481 250.947 85.0158 252.89 85H298C299.94 85.0105 301.862 84.6389 303.658 83.9064C305.454 83.1738 307.089 82.0947 308.467 80.7306C309.846 79.3665 310.943 77.7441 311.695 75.9562C312.447 74.1682 312.84 72.2496 312.85 70.31V25.69C312.84 23.7504 312.447 21.8318 311.695 20.0438C310.943 18.2559 309.846 16.6335 308.467 15.2694C307.089 13.9053 305.454 12.8262 303.658 12.0936C301.862 11.3611 299.94 10.9895 298 11ZM297.89 70.2H253V25.8H297.87L297.89 70.2Z"
          fill="white"></path>
        <path
          d="M456 11.0001H412C410.06 10.9896 408.138 11.3612 406.342 12.0937C404.546 12.8263 402.911 13.9054 401.533 15.2695C400.154 16.6336 399.057 18.256 398.305 20.0439C397.553 21.8319 397.16 23.7505 397.15 25.6901V85.0001H412.15V60.6901H455.95V85.0001H470.95V25.6901C470.94 23.742 470.544 21.8152 469.786 20.0206C469.027 18.2261 467.922 16.5993 466.532 15.2338C465.143 13.8684 463.497 12.7914 461.689 12.0648C459.881 11.3382 457.948 10.9764 456 11.0001ZM455.89 45.8901H412.09V25.8001H455.89V45.8901Z"
          fill="white"></path>
        <path
          d="M631.15 11.0002H587.15C585.21 10.9897 583.288 11.3613 581.492 12.0938C579.696 12.8264 578.062 13.9055 576.683 15.2696C575.304 16.6337 574.207 18.2561 573.455 20.044C572.703 21.832 572.31 23.7506 572.3 25.6902V85.0002H587.3V60.6902H631V85.0002H646V25.6902C645.99 23.7506 645.597 21.832 644.845 20.044C644.093 18.2561 642.996 16.6337 641.617 15.2696C640.238 13.9055 638.604 12.8264 636.808 12.0938C635.012 11.3613 633.09 10.9897 631.15 11.0002ZM631 45.8902H587.2V25.8002H631V45.8902Z"
          fill="white"></path>
        <path
          d="M544 70.2001H538L516.55 17.2001C515.815 15.3716 514.55 13.8045 512.918 12.6999C511.286 11.5952 509.361 11.0033 507.39 11.0001H494.08C492.786 10.9935 491.504 11.2418 490.307 11.7307C489.109 12.2197 488.02 12.9397 487.1 13.8497C486.181 14.7598 485.45 15.8419 484.949 17.0345C484.448 18.227 484.187 19.5066 484.18 20.8001V85.0001H499.18V25.8001H505.18L526.62 78.8001C527.367 80.6251 528.642 82.1858 530.281 83.283C531.919 84.3803 533.848 84.9641 535.82 84.9601H549.13C550.424 84.9667 551.706 84.7185 552.903 84.2295C554.101 83.7406 555.19 83.0205 556.11 82.1105C557.029 81.2005 557.76 80.1183 558.261 78.9258C558.762 77.7332 559.023 76.4537 559.03 75.1601V11.0001H544V70.2001Z"
          fill="white"></path>
        <path
          d="M341.1 11H326.1V70.31C326.11 72.2539 326.505 74.1766 327.26 75.9678C328.015 77.7591 329.116 79.3836 330.5 80.7484C331.884 82.1132 333.525 83.1912 335.326 83.9208C337.128 84.6504 339.056 85.0171 341 85H386V70.2H341.1V11Z"
          fill="white"></path>
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_1064_606"
          x1="10.81"
          y1="98.29"
          x2="98.89"
          y2="-1.01005"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.08" stop-color="#9945FF"></stop>
          <stop offset="0.3" stop-color="#8752F3"></stop>
          <stop offset="0.5" stop-color="#5497D5"></stop>
          <stop offset="0.6" stop-color="#43B4CA"></stop>
          <stop offset="0.72" stop-color="#28E0B9"></stop>
          <stop offset="0.97" stop-color="#19FB9B"></stop>
        </linearGradient>
        <clipPath id="clip0_1064_606">
          <rect width="646" height="96" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>

    <!-- 6th -->

    <svg
      width="80"
      height="80"
      viewBox="0 0 1503 1504"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="287" y="258" width="928" height="844" fill="white"></rect>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1502.5 752C1502.5 1166.77 1166.27 1503 751.5 1503C336.734 1503 0.5 1166.77 0.5 752C0.5 337.234 336.734 1 751.5 1C1166.27 1 1502.5 337.234 1502.5 752ZM538.688 1050.86H392.94C362.314 1050.86 347.186 1050.86 337.962 1044.96C327.999 1038.5 321.911 1027.8 321.173 1015.99C320.619 1005.11 328.184 991.822 343.312 965.255L703.182 330.935C718.495 303.999 726.243 290.531 736.021 285.55C746.537 280.2 759.083 280.2 769.599 285.55C779.377 290.531 787.126 303.999 802.438 330.935L876.42 460.079L876.797 460.738C893.336 489.635 901.723 504.289 905.385 519.669C909.443 536.458 909.443 554.169 905.385 570.958C901.695 586.455 893.393 601.215 876.604 630.549L687.573 964.702L687.084 965.558C670.436 994.693 661.999 1009.46 650.306 1020.6C637.576 1032.78 622.263 1041.63 605.474 1046.62C590.161 1050.86 573.004 1050.86 538.688 1050.86ZM906.75 1050.86H1115.59C1146.4 1050.86 1161.9 1050.86 1171.13 1044.78C1181.09 1038.32 1187.36 1027.43 1187.92 1015.63C1188.45 1005.1 1181.05 992.33 1166.55 967.307C1166.05 966.455 1165.55 965.588 1165.04 964.706L1060.43 785.75L1059.24 783.735C1044.54 758.877 1037.12 746.324 1027.59 741.472C1017.08 736.121 1004.71 736.121 994.199 741.472C984.605 746.453 976.857 759.552 961.544 785.934L857.306 964.891L856.949 965.507C841.69 991.847 834.064 1005.01 834.614 1015.81C835.352 1027.62 841.44 1038.5 851.402 1044.96C860.443 1050.86 875.94 1050.86 906.75 1050.86Z"
        fill="#E84142"></path>
    </svg>

    <!-- 7th -->

    <svg
      width="280"
      height="280"
      viewBox="0 0 512 512"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M163.835 323.92L209.915 277.84L255.995 323.92L302.075 277.84L348.155 323.92L394.235 277.84L302.075 185.68L255.995 231.76L209.915 185.68L117.755 277.84L163.835 323.92Z"
        fill="#0C2246"></path>
    </svg>

    <!-- 8th -->
    <svg
      version="1.0"
      xmlns="http://www.w3.org/2000/svg"
      width="150pt"
      height="100pt"
      viewBox="0 0 1600.000000 600.000000"
      preserveAspectRatio="xMidYMid meet"
    >
      <g
        transform="translate(0.000000,600.000000) scale(0.100000,-0.100000)"
        fill="#E40000"
        stroke="none"
      >
        <path
          d="M3000 5000 l0 -1000 -1500 0 -1500 0 0 -1500 0 -1500 500 0 500 0 0
   1000 0 1000 1000 0 1000 0 0 -1500 0 -1500 3000 0 3000 0 0 1500 0 1500 500 0
   500 0 0 -1500 0 -1500 3000 0 3000 0 0 3000 0 3000 -3000 0 -3000 0 0 -1000 0
   -1000 -500 0 -500 0 0 1000 0 1000 -3000 0 -3000 0 0 -1000z m3000 -2000 l0
   -2000 -1000 0 -1000 0 0 2000 0 2000 1000 0 1000 0 0 -2000z m7000 0 l0 -2000
   -1000 0 -1000 0 0 2000 0 2000 1000 0 1000 0 0 -2000z"
        ></path>
      </g>
    </svg>

    <!-- 9th -->
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
    width="150pt" height="150pt" viewBox="0 0 900.000000 900.000000"
    preserveAspectRatio="xMidYMid meet">
   
   <g transform="translate(0.000000,900.000000) scale(0.100000,-0.100000)"
   fill="#000000" stroke="none">
   <path d="M4275 8844 c-22 -2 -92 -9 -155 -15 -415 -38 -827 -138 -1218 -295
   -565 -228 -1046 -552 -1482 -1000 -350 -359 -613 -738 -821 -1184 -298 -641
   -430 -1314 -399 -2037 22 -505 120 -956 310 -1428 320 -795 890 -1492 1620
   -1982 514 -344 1125 -580 1740 -672 250 -37 379 -46 670 -45 302 1 441 12 731
   60 868 142 1721 591 2353 1238 630 645 1037 1454 1180 2346 43 266 51 379 51
   695 -1 318 -10 438 -61 737 -243 1453 -1257 2710 -2634 3268 -375 152 -733
   242 -1170 295 -127 15 -619 29 -715 19z m3633 -4166 l2 -1128 -140 0 -140 0
   -6 -27 c-23 -106 -53 -160 -126 -230 -69 -64 -138 -99 -225 -114 -231 -38
   -436 111 -475 346 -31 186 62 369 230 448 63 30 74 32 177 32 103 0 114 -2
   176 -31 120 -57 206 -159 236 -279 l16 -65 98 0 99 0 0 1050 0 1050 -3345 0
   -3345 0 0 -650 0 -650 205 0 205 0 0 364 c0 318 2 367 16 380 8 9 24 16 34 16
   22 0 44 -29 291 -374 l184 -259 5 303 c5 284 6 302 24 316 25 18 35 18 58 -3
   17 -15 18 -41 18 -404 0 -339 -2 -390 -16 -403 -23 -24 -49 -19 -76 12 -12 16
   -115 158 -228 316 l-205 287 -5 -299 c-4 -233 -8 -303 -19 -315 -12 -15 -45
   -17 -292 -17 l-279 0 0 723 c0 398 3 727 7 730 3 4 1543 6 3422 5 l3416 -3 3
   -1127z m-5125 500 c20 -15 337 -751 337 -783 0 -30 -24 -49 -54 -41 -19 5 -38
   39 -111 208 -158 367 -187 433 -195 441 -4 5 -67 -133 -140 -305 -73 -172
   -141 -321 -151 -332 -21 -23 -65 -15 -74 14 -7 21 303 760 332 793 19 20 33
   21 56 5z m1072 -12 c60 -18 140 -69 162 -103 13 -19 14 -29 5 -48 -17 -36 -55
   -32 -104 9 -53 46 -116 66 -204 66 -107 0 -169 -26 -238 -101 -69 -74 -91
   -137 -84 -244 6 -85 32 -146 88 -204 61 -63 111 -84 211 -89 104 -5 166 12
   231 63 49 40 82 44 98 15 16 -29 5 -55 -38 -88 -174 -137 -434 -118 -580 43
   -25 27 -57 75 -71 105 -24 50 -26 66 -26 180 0 117 2 129 28 183 34 69 116
   156 175 186 100 51 235 61 347 27z m486 14 c18 -10 19 -25 19 -409 0 -439 0
   -436 -58 -415 l-27 9 -3 397 c-2 350 0 398 14 412 18 19 28 20 55 6z m729 0
   c225 -43 383 -266 340 -482 -17 -87 -45 -141 -108 -210 -130 -140 -329 -177
   -498 -93 -86 42 -143 101 -188 195 -29 61 -31 72 -31 180 0 110 2 118 34 184
   85 175 260 262 451 226z m643 -14 c12 -13 117 -157 232 -319 l210 -295 5 309
   c4 261 7 311 20 319 23 15 38 12 60 -10 19 -19 20 -33 20 -399 0 -352 -1 -380
   -18 -401 -32 -40 -59 -21 -142 96 -41 59 -106 150 -145 204 -38 53 -104 144
   -145 203 -41 58 -78 106 -82 107 -5 0 -8 -136 -8 -303 0 -318 -1 -327 -45
   -327 -45 0 -45 3 -45 422 0 368 1 398 18 407 27 16 41 13 65 -13z m-2812
   -1172 c109 -33 197 -102 185 -148 -10 -39 -48 -44 -87 -12 -105 88 -261 107
   -379 46 -51 -26 -116 -97 -142 -155 -35 -77 -33 -201 5 -277 90 -183 337 -240
   496 -113 45 36 78 44 99 23 23 -23 13 -56 -25 -88 -129 -107 -320 -127 -471
   -51 -71 36 -155 123 -190 198 -24 52 -27 69 -27 173 0 109 2 119 32 182 51
   108 142 187 258 224 57 18 182 17 246 -2z m923 -19 c32 -16 71 -45 86 -64 54
   -65 63 -177 21 -259 -23 -46 -42 -63 -104 -94 l-48 -24 115 -147 c121 -152
   136 -186 96 -207 -31 -17 -51 -5 -99 57 -25 32 -85 109 -134 171 l-89 112
   -119 0 -119 0 0 -154 c0 -137 -2 -156 -19 -177 -19 -23 -21 -23 -48 -9 l-28
   16 -3 187 c-1 118 1 195 8 207 10 18 21 20 130 20 66 0 120 3 120 6 0 3 -58
   79 -130 170 -71 91 -130 170 -130 175 0 6 5 19 11 31 10 19 18 20 217 16 206
   -3 207 -3 266 -33z m497 -47 c148 -192 224 -287 229 -287 3 -1 71 82 150 184
   126 161 149 185 173 185 29 0 50 -31 39 -60 -5 -13 -157 -211 -276 -360 l-36
   -45 0 -169 c0 -144 -3 -172 -17 -188 -21 -23 -38 -23 -63 2 -18 18 -20 33 -20
   190 l0 169 -28 33 c-15 18 -52 65 -82 103 -30 39 -87 112 -127 163 -91 116
   -98 159 -27 161 15 1 40 -23 85 -81z m1249 66 c109 -32 161 -85 182 -187 10
   -45 9 -62 -6 -107 -25 -76 -52 -107 -125 -143 -64 -31 -70 -32 -231 -37 l-165
   -5 -3 -163 c-2 -162 -3 -163 -27 -174 -21 -9 -28 -8 -45 7 -19 17 -20 31 -20
   210 0 142 3 195 13 203 7 5 93 12 197 14 160 3 191 7 230 24 65 30 83 55 88
   122 4 51 1 62 -22 89 -48 57 -90 67 -299 71 -184 4 -189 4 -199 27 -7 16 -7
   29 1 44 11 20 18 21 195 21 137 0 196 -4 236 -16z m1078 4 c16 -16 15 -53 -1
   -66 -8 -7 -72 -13 -158 -14 l-144 -3 -5 -363 c-4 -308 -7 -364 -20 -372 -22
   -14 -36 -12 -54 6 -14 13 -16 61 -16 375 l0 359 -148 0 c-155 0 -172 4 -172
   45 0 12 5 26 12 33 17 17 689 17 706 0z"/>
   <path d="M7133 3910 c-149 -31 -244 -154 -245 -315 0 -168 106 -299 262 -324
   103 -16 205 16 286 91 46 42 94 127 94 165 0 23 0 23 -177 25 l-178 3 0 35 0
   35 178 3 c176 2 177 3 177 25 0 40 -47 124 -96 171 -76 73 -198 108 -301 86z"/>
   <path d="M4890 5081 c-81 -26 -149 -88 -188 -171 -22 -46 -27 -69 -27 -140 0
   -101 28 -173 92 -237 65 -65 103 -78 223 -78 94 0 110 3 156 27 62 32 118 93
   150 162 33 72 34 181 0 251 -33 70 -84 126 -147 160 -47 25 -66 30 -144 32
   -49 1 -101 -1 -115 -6z"/>
   <path d="M3486 3909 c128 -167 228 -289 237 -289 27 1 95 39 115 65 32 41 31
   123 -3 163 -41 49 -94 65 -235 70 -105 4 -123 2 -114 -9z"/>
   </g>
   </svg>
     
  </div>
</section>
