---
import MainLayout from "@/layouts/MainLayout.astro";
import CyperRadio from "@/components/sections/features/CypherRadio.astro";

---


<div class="container pt-8 ">
  
<CyperRadio 
title="CyperRadio"
subTitle="Programa de radio Platohedro"
/>
</div>

<style>

    .container{
        background-color: aquamarine;
    }
</style>