---
import MainLayout from "@/layouts/MainLayout.astro";
import CyperRadio from "@/components/sections/features/CypherRadio.astro";

---

<MainLayout>
<div class="container pt-8 ">
  
<CyperRadio 
title="CyperRadio"
subTitle="Programa de radio Platohedro"
/>
</div>
</MainLayout>
<style>

    .container{
   
    }
</style>