---
import MainLayout from "@/layouts/MainLayout.astro";
import Xpaces from "@/components/sections/features/Xpaces.astro";
---

<MainLayout>
    <div class="container pt-8">
        <Xpaces
            title="Spaces x Platohedro"
            subTitle="Programa de spaces Platohedro"
        />
    </div>
</MainLayout>
<style>
    .container {
    }
</style>
