---
import MainLayout from "@/layouts/MainLayout.astro";
import Xpaces from "@/components/sections/features/Xpaces.astro";
import ListaSpaces from "./listaSpaces.astro";
---



<MainLayout>
    <div class="container pt-8">
        <ListaSpaces/>
    </div>
</MainLayout>
<style>
    .container {
    }
</style>
